DATABASE_URL="postgres://user:pass@host-pooler:6543/db?pgbouncer=true"
DATABASE_HOST=""
DATABASE_USER="postgres"
DATABASE_PASSWORD=""
DIRECT_URL="postgres://user:pass@host:5432/db"

BETTER_AUTH_SECRET = ""
NEXT_PUBLIC_BASE_URL = "http://localhost:3000"

APPWRITE_ENDPOINT = "cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID = ""
APPWRITE_API_KEY = ""
APPWRITE_BUCKET_ID = ""

SMTP_USER = ""
SMTP_PASSWORD = ""

GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""